.row
  .span12
    %section
      %p
        = link_to new_administrator_login_path, class: 'btn' do
          管理者ログイン
      %p
        = link_to general_user_give_you_index_path, class: 'btn' do
          Give you 一覧
      %p
        = link_to general_user_give_me_index_path, class: 'btn' do
          Give me 一覧
