

/ .container
/   .row
.container-fluid
  .row-fluid
    .span12

      / %form.form-horizontal
      / %form.form-inline
      / %form
      %form.form-horizontal
        %fieldset
          .control-group
            %label.control-label 口座番号：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 名前：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 備考：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
