.row
  .span12
    %section 

      日付・時間：
      %input{type: 'text'}
      %br

      場所：
      %input{type: 'text'}
      %br

      交換の内容：
      %input{type: 'text'}
      %br

      金額（＋）：
      %input{type: 'text'}
      %br

      金額（－）：
      %input{type: 'text'}
      %br

      残高：
      %input{type: 'text'}
      %br

      提供者：
      %input{type: 'text'}
      %br

      消費者：
      %input{type: 'text'}
      %br

      備考：
      %input{type: 'text'}
      %br
