

.container
  .row
    .span12

      / %form.form-horizontal
      / %form.form-inline
      / %form
      %form.form-horizontal
        %fieldset
          .control-group
            %label.control-label 日付・時間：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 場所：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 交換の内容：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 金額（＋）：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 金額（－）：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 残高：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 提供者：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 消費者：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
          .control-group
            %label.control-label 備考：
            .controls
              %input{type: 'text', class: 'input-medium focused'}
